body{
    background: url(arkaplan.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
}

.btn{
    background:green;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s ease ;
}

.btn:hover{
    padding: 15px 30px;
    background: #204345;
    letter-spacing: 2px;
    font-size:20px;
    
    
}
.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    overflow: auto;
    padding: 50px 0;
    box-sizing: border-box;
   
    
}
.modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #0000;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    animation: formDown .5s;
    opacity: 0.8;
    
  
}
.loginBox{
    width: 60%;
    height: 420px;
    background: rgba(0,0,0.8);
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    position: relative;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],.loginBox input[type="password"]{
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginBox input[type="text"]:focus.loginBox input[type="password"]:focus{
    border-bottom: 1px solid #007c8e ;
    
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    background: #007c8e;
    color: #fff;
    height: 40px;
    font-size: 18px;
    transition: all.5s ease;
    
}

.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: #204345;
}


.loginBox a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.loginBox a :hover{
    color: #007c8e;
}
.close{
    
    float: right;
    font-size: 50px;
    cursor: pointer;
    
}

@keyframes formDown{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:calc(50%);
        opacity: 1;
    }
}
@media(min-width:768px) and (max-width:991px){
    .modalContent{
        width: 70%;
    }
}
@media(min-width:576px) and (max-width:767px){
     .modalContent{
        width: 80%;
    }
}

@media(max-width:575px) {
     .modalContent{
        width: 90%;
    }
}